<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <title>登入頁</title>
    <style>
        header {
            background-color: #bec92b;
            color: #fff;
            padding: 20px;
            text-align: left;
        }
    </style>
</head>

<body>
    <header><h1>MYshop</h1></header>
    <h1>登入頁</h1>
    <form method="POST">
        <p>帳號: <input type="text" name="account" value="admin"></p>
        <p>密碼: <input type="password" name="password" value="123"></p>
        <p><input type="submit" value="登入"></p>
        <a>還沒有註冊?</a>
        <a href="{{ url_for('register') }}">免費註冊</a>
        
    </form>
    {% if error %}
    <p style="color:red">{{ error }}</p>
    {% endif %}
</body>

</html>