<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <title>購買完成</title>
</head>

<body>
    <header>
        <div class="flex-container">
            <h1>MYshop</h1>
            <ul>
                <li><a href="{{ url_for('index') }}">首頁</a></li>
                <li><a href="{{ url_for('myAccount') }}">我的帳戶</a></li>
                <li><a href="{{ url_for('cart') }}">購物車</a></li>
                <li><a href="{{ url_for('orderHistory') }}">購買紀錄</a></li>
                <li><a href="{{ url_for('seller') }}">賣家中心</a></li>
                <li><a href="{{ url_for('logout') }}">登出</a></li>
            </ul>
        </div>
    </header>
    <h1>購買完成</h1>
    <a href="{{ url_for('index') }}">返回首頁</a>
</body>

</html>